---
layout: default
---


  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img width="404" height="720" alt="Cover" layout="responsive" src="/{{ site.cover }}" media="(max-width: 415px)"></amp-img>
    <amp-img height="720" alt="Cover" layout="fixed-height" src="/{{ site.cover }}" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p3">
        
        
        
        <h1 class="ampstart-fullpage-hero-heading mb0 hanuman">          
           <amp-img class="center" width="750" height="214" alt="Cover" layout="fixed" src="/assets/logo/mqtex750.png" ></amp-img><br/>
          
        </h1>
        <!-- <h2 class="ampstart-fullpage-hero-heading mb0">
          <span class="ampstart-fullpage-hero-heading-text description">
            {{ site.description }}
          </span>
        </h2> -->
    </header>
    {% if site.cover %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-readmore py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% else %}
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-read py3 caps line-height-2 text-decoration-none center block h5" href="#content"><span class="ampstart-readmore-text px1">Read more</span></a>
    </footer>
    {% endif %}
    </figcaption>
  </figure>

<main id="content" role="main" class="content">
<div class="cf">

<p>The R users group is a multidisciplinary support network and problem solving club for anyone who would like to increase their productivity by applying a tool that allows for automated workflows and offers a multitude of statistical applications. </p>

<p>Everyone is welcome, from people with no prior knowledge to experts. </p>

<h2>Our Next Meeting:</h2>

<p> Our next meeting will be at: 3-5 PM on 27 September, Biology Tearoom E8A Level 2. </p>

<p> This month’s edition will be a friendly introduction to the wonders of R by Aniko Toth and Kaja Wierucka. 
  All Beginners and not-so-beginners are encouraged to attend. 
  The workshop will explore the functions and packages in R that are key to a frustration-free learning experience.  
  This will include importing files, data manipulation/wrangling and getting to know your way around R.  
  After the talk there’ll be time to talk with the speakers, chat and solve R problems together. 
  If you have a problem you'd like help with then this is the place to ask. We welcome R users with any level of experience. 
  This workshop is especially targeted at beginners, and it’s a great place to develop a support network - we all learned R at some point and we know how frustrating it can be sometimes! </p>

<h2>Meeting Schedule:</h2>
  
<p>Workshops on the last Tuesday of every month at 3-5pm. </p>
<p>New in 2018! AARGH (Ask an R Geek for Help) Drop-in help sessions on the second Tuesday of every month at 3-4pm. </p>


<p>Join our email list! Email <a href="mailto:rusers.mq@gmail.com"> RUG </a> .</p>


<h2>Links</h2>

<ul>
  <li>R users group <a href="https://twitter.com/Rusers_MQ">twitter page </a>.</li>
  <li> <a href="https://quantitative-advice.gg.mq.edu.au">Quantitative Advice Forum </a>. </li>
</ul>
</div>
</main>

{% include footer.html %}
